
nav{
    background: #5bb4ff!important; 
}

*::-webkit-scrollbar-track{
    background: #EDF0F4!important;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb{
    background-color: #A8A8A8;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #fff;  /* creates padding around scroll thumb */
}

.dropdown-menu{
    border: 0!important;
    box-shadow: 0 0 2px rgba(0,0,0,.12), 0 8px 16px rgba(0,0,0,.14);
}

/* BARRA DE ROLAGEM */
*::-webkit-scrollbar{
    width: 12px;               /* width of the entire scrollbar */
}

.img-add-file{
    height: 50;
}


.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-feed{
    background: #F4F2EE;
}

.navbar-cel{
    display: none!important;
}

.view-password{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0!important;
    height: 30px;
    right: 10px;
    cursor: pointer;
}

.name-likes{
    color: #000;
    text-decoration: none;
}

.col-img-login, .col-img-register{
    background: #5bb4ff; 
    display: grid; 
    place-items: center;
}

.col-md-6 h3 a{
    text-decoration: none;
}

.icon-img-post{
    color: #5bb4ff;
    margin-bottom: 20px;
}

.video-post{
    width: 100%;
    height: 100%;
}

.img-verificado-conta{
    height: 20px;
    width: 20px;
}

.img-verificado-comentario{
    height: 15px;
    width: 15px;
}

.label-img{
    height: 400px;
    width: 100%;
    background: #d3d3d3;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    background-image: url('../img/photo.png');
    transition: opacity 0.5s;
    display: none;
}

.label-img:hover{
    opacity: 0.7;
}

.card-post-text{
    height: 100%!important;
    padding: 10px;
}

.comment-text{
    background: #F5F5F5;
    padding: 10px 15px;
    border-radius: 0 15px 15px 15px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.date-comment{
    font-size: 15px;
}

.text-comment{
    width: 100%;
    /* margin-top: -10px!important; */
    height: 50px;
}

.col-like, .col-comment{
    cursor: pointer;
    transition: 0.01s;
    margin: 0 10px;
}

.col-like:hover, .col-comment:hover{
    background: #d3d3d371;
    border: 0;
    border-radius: 4px;
}

.form-text-comment{
    width: 100%;
    resize: none;
    height: 65px;
    text-align: initial;
    color: #d3d3d3;
}

.img-publicidade-horizontal{
    width: 100%;
}

.container-404{
    justify-content: center;
    display: flex;
}
.img-page-not-found{
    height: 800px;
}

.container-account{
    max-width: 100px;
}
.container-404{
    height: 100%;
    display: grid;
    place-items: center;
}

.col-form-login, .col-form-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.col-form-login .container,.col-form-register .container{
    background: #dfdede;
}
.form-login{
    width: 100%;
    padding: 0 250px;
}

.form-register{
    width: 100%;
    padding: 0 100px;
}

.input-login{
    /* font-size: 20px;
    margin-top: 5px;
    width: 400px;
    border: 0!important;
    border-radius: 0!important;
    border-bottom: 3px solid #5bb4ff!important; */
    /* background: transparent !important; */
    /* border-bottom: 2px solid #5bb4ff !important; */
    background: #F7F8F9 !important;
    border-radius: 8px !important;
    box-shadow: 0 0 0 0!important;
    border: 0!important;
    border-radius: 8px !important;
    font-size: 20px !important;
    /* background: #F7F8F9 !important; */
    height: 55px;
}

.input-login.is-invalid{
    /* border-color: #dc3545!important; */
    border: 1px solid #dc3545!important;
}

.form-register .col-md-6{
    margin-top: 20px;
}
.label-register{
    margin-top: 20px;
    width: 100%!important;
}

.form-group{
    margin-top: 40px;
}

.btn-login{
    background: #5bb4ff!important;
    width: 100%;
    color: #fff!important;
    margin: 50px 0;
}

.btn-login:hover{
    border: 1px solid #5bb4ff!important;
    color: #5bb4ff!important;
    background: #ffffff00!important;
}

div.link-criar-conta{
    text-align: center!important;
    margin-top: -50px!important;
    /* padding-bottom: 100px!important; */
}

main{
    height: calc(100% - 76px);
}

.title-notification{
    margin-top: 100px!important; 
    margin-bottom: -20px!important;
}

.container-login{
    height: 100%;
}

img.img-conta-menu{
    height: 100%;
    width: 100%;
    border-radius: 50%; 
}

.img-conta-perfil{
    height: 100px!important;
    width: 100px!important;
    max-height: 100px!important;
    max-width: 100px!important;
    min-height: 100px!important;
    min-width: 100px!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.img-conta-pesquisa{
    height: 50px!important;
    width: 50px!important;
    /* max-height: 50px!important;
    max-width: 50px!important;
    min-height: 50px!important;
    min-width: 50px!important; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.nav-link{
    transition: 0.2s!important;
}

.active{
    border-bottom: 2px solid #fff!important;
}

.btn-outline-blue{
    color: #fff!important;
    border: 1px solid #fff!important;
}

.btn-outline-blue:hover{
    background: #fff!important;
    color:#5bb4ff!important;
    border: 1px solid #fff!important;
}


.btn-blue{
    color: #fff!important;
    background: #5bb4ff!important;
    border: 1px solid #fff!important;
}

.btn-gray{
    color: #fff!important;
    background: #979797!important;
    border: 1px solid #fff!important;
}

.text-comment{
    resize: none;
}

.img-account-likes{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 4px;
}

.img-account-add-comment{
    height: 50px!important;
    width: 50px!important;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 20px;
}

.img-edit{
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: grid;
    place-items: center;
    transition: 0.2s;
}

.img-error{
    border: 1px solid #dc3545;
}

.img-edit img{
    transition: 15s;
    display: none;
}

.img-edit:hover img{
    display: block;
}

.img-edit:hover{
    box-shadow: inset 0px 0px 20px 100px #0404042c;
}

.row-likes{
    /* background: #d3d3d3; */
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 10px!important;
    align-items: start;
}

.link-user{
    font-size: 18px;
    margin-top: 10px!important;
}

.btn-blue:hover{
    opacity: 0.7;
}

.icon-fillter{
    width: 27px;
    height: 27px;
    border-bottom: 2px solid transparent;
}

.col-post h2 a{ 
    color: #000;
    text-decoration: none;
}

.name-search{
    color: #000; 
    font-size: 25px;
    text-decoration: none!important;
}

.card-post-account{
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-link:hover{
    transform: scale(1.2);
}

div.img-conta-menu{
    margin-left: 9px!important;
}
.dropdown-toggle, .img-list-chat{
    min-height: 40px!important; 
    height: 40px!important; 
    min-width:40px!important; 
    width:40px!important; 
    border-radius: 50%; 
    background: #fff!important; 
    display: flex!important; 
    place-items: center;
    color: #000;
    padding: 0!important;
    margin-left: 11px;
    background-position: center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}

.dropdown-toggle::after{
    margin-left: 45px!important;
}

.icon-menu{
    width: 25px;
    height: 25px;
    margin: 0 10px;
    color: #fff;
}

.col-name-user p{
    margin-top: -15px;
    font-size: 20px;
}

p.seguidores{
    opacity: 0.7;
}

.hr{
    width: 100%;
    background: #d3d3d3;
    height: 1px;
}

.row-text-post{
    padding-left: 11px;
}

.row-text-post div{
    padding: 0;
}

.container-account{
    padding-top: 100px;
    width: 1000px!important;
}

.container-account .row{
    justify-content: center;
}

img.img-conta{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
}

div.img-conta{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
    background: #d3d3d3;
    display: grid;
    place-items: center;
    font-size: 50px;
}

.img-conta-post{
    height: 65px!important;
    width: 65px!important;
    border-radius: 10px;
}
.img-account-search{
    width: 65px!important;
    height: 65px!important;
    border-radius: 10px!important;
}


/* .img-account-search */

.row-info-post{
    font-size: 15px;
    padding: 10px 0;
    /* border-top: 1px solid #d3d3d3c0; */
    /* border-bottom: 1px solid #d3d3d3c0; */
}

.row-info-post .col{
    display: flex;
    align-items: center!important;
    justify-content: center;
}


.row-reaction-post .col{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.icon-reaction-post{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.red{
    color: red;
}

.col-post{
    /* margin-left: 30px; */
}

.col-post h2{
    margin-bottom: 15px;
    font-size: 20px;
}

.card-post{
    padding: 10px;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 15px!important;
    border: 2px solid #fff!important;
}

.col-img-post{
    background-position: center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    max-height: 800px;
    background: #d3d3d3;
    padding: 0!important;
    display: flex;
    border-radius: 15px; 
    margin: 5px;
    overflow: hidden;
}

.img-post{
    width: 90%;
    height: 100%;
    object-fit: cover;
    width: 100%; 
    height: 100%; 
    margin: 0 auto; 
    position: relative
}

.col-conf-post{
    display: flex;
    justify-content: end;
}

.col-post p{
    line-height: 1px;
    font-size: 14px;
}

.container-search{
    margin-top: 100px;
    padding-bottom: 100px;
}


.container-search{
    max-width: 1000px!important;
}

.account-search{
    padding-top: 15px!important;
    padding-bottom: 15px!important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}

.row-notification{
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.175); */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
}

#username-suggestions{
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0;
    top: -50;
    z-index: 999;
    height: 100px;
    padding: 20px;
    border-radius: 15px;
    display: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#username-suggestions .matched-username {
    text-decoration: underline;
}


.col-publicidade{
    padding: 0 150px!important;
}
.form-mobile{
    display: none!important;
}


.account-search .col p, .account-search .col-6 p, .row-notification .col p, .row-notification .col-6 p{
    font-size: 17px;
    margin-top: -8px;
}


.account-search .col p{
    font-size: 15px;
    margin-top: -10px;
}

.account-search .col p, .row-notification .col p{
    font-size: 15px;
    margin-top: -10px;
}

.container-feed{
    padding-bottom: 100px;
}

.account-search .col h3 a{
    text-decoration: none;
}

.modal-fundo-black{
    background: rgb(0 0 0 / 62%); 
}

.button-x-modal{
    color: #fff!important; 
    margin-left: 40px; 
    margin-top: 40px; 
    border: 0; 
    background: transparent;
}

.modal-dialog-grande{
    margin-top: 0!important; 
    min-width: 35%!important;
}

.modal-content-grande{
    background: transparent;  border: 0;
}

.modal-body-grande{
    overflow: auto; 
    max-height: 100vh; 
    padding: 0 !important;
}

.col-info-user{
    background: #F5F5F5;
    border-radius: 15px;
    margin-top: 15px!important;
    padding: 20px;
    padding-bottom: 30px!important;
    position: sticky;
    top: 90px;
    height: 300px;
}

.modal-header, .modal-footer, .modal-content{
    border: 0!important;
}

.modal-content{
    border-radius: 15px !important;
    border: 2px solid #fff !important;
}

.modal-dialog{
    min-width: 40%;
}

.col-info-user p{
    font-size: 20px;
}

div.col-img-conta{
    display: flex;
    justify-content: end;
}

h2.titulo-login, h2.titulo-register{
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px !important;
    /* margin-top: -100px; */
}

.alert-account-create{
    width: 100%;
    position: absolute;
    top: -100px;
}

.row-filtro-account{
    padding-top: 8px;
}

.row-filtro-account .col a{
    color: #000;
    text-decoration: none;
    text-align: center;
}

.row-filtro-account .col{
    text-align: center;
    padding: 5px;
}

.img-account-comment{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.row-notification{
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 80px; 
    margin-top: 2px!important;
}



/* CHAT */

.row-list-chat{
    margin-top: 76px!important;
    height: 100%;
    padding: 0 200px;
    background: #F4F2EE;
}
.col-list-chat{
    margin: 0 20px;
}

.list-chat{
    background: #0000000d;
    border-radius: 15px;
    padding: 10px;
    border-bottom: 1px solid #F4F2EE;
    min-height: 70px;
}

.div-text-chat{
    width: 100%;
    display: flex;
    padding: 0 50px;
}

.div-text-chat-logado{
    justify-content: right;
}


.text-user-logado, .text-user-nao-logado{
    color: #dfdede;
    padding: 5px 20px;
    min-width: 50px;
    max-width: 300px;
    margin-top: 5px;
}

.text-user-logado{
    background: #5bb4ff;
    border-radius: 15px 15px 0 15px;
}

.text-user-nao-logado{
    background: #979797;
    border-radius: 15px 15px 15px 0;
}

@media screen and (max-width: 1859px) {
    .container-feed .col-md-4{
        min-width: 60%;
    }
    .card-post{
        padding: 20px;
    }
}

@media screen and (max-width: 1629px) {
    .form-login{
        padding: 0 200px;
    }
}

@media screen and (max-width: 1220px) {
    .form-login{
        padding: 0 100px;
    }
    .form-register{
        padding: 0 20px;
        margin-bottom: 40px;
    }

    .img-logo-login{
        height: 300px
    }
    
    .container-feed .col-md-4{
        min-width: 50%!important;
    }
}


@media screen and (max-width: 1000px) {
    .col-img-login{
        max-width: 300px!important  ;
    }

    .img-logo-login{
        height: 250px
    }

    .col-info-user h4{
        margin-bottom: -10px;
    }

    .col-info-user p{
        font-size: 15px;
        margin-top: -10px;
    }

    .container-feed .col-md-4{
        min-width: 60%!important;
        padding: 1px;
    }

    .col-post h2 a{
        font-size: 30px;
    }

    .img-page-not-found{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 850px) {
    .img-logo-login{
        height: 200px
    }

    /* body{
        height: auto!important;
    } */

    .card-create-post{
        margin-top: 0px!important;
    }
}


/* QUEBRA DO MENU */
@media screen and (max-width: 768px) {
    .col-img-login{
        max-width: 300px!important  ;
    }

    .title-notification{
        margin-top: 0px!important; 
        margin-bottom: -30px!important;
    }

    .container-search{
        margin-top: 40px;
    }

    .col-form-register{
        order: 2;
    }

    .titulo-register{
        margin-top: 20px!important;
    }

    .col-img-login, .col-img-register{
        min-width: 100% !important;
    }

    .form-login{
        padding: 0 100px
    }

    .img-logo-login{
        height: 150px
    }

    .titulo-register{
        margin-top: 500px
    }

    .container-account{
        margin-top: -75px;
        min-width: 100%;
    }

    .col-info-user{
        width: 100%!important;
        position: relative;
        top: 0!important;
    }

    .navbar-pc{
        display: none!important;
    }
    .navbar-cel{
        display: block!important;
    }

    .img-conta-post{
        height: 55px!important;
        width: 55px!important;
    }
    .img-account-search{
        width: 55px!important;
        height: 55px!important;
        border-radius: 10px!important;
    }
    

    .form-text-comment{
        height: 55px!important;
    }

    .col-post h2 a{
        font-size: 18px;
        color: #000;
    }

    .form-mobile{
        display: flex!important;
    }

    .container-login{
        height: 100%;
        /* background: #5bb4ff; */
    }

    /* .row-login{
        height: 105%!important;
    } */
    
    .col-publicidade{
        display: none;
    }

    .container-feed{
        margin-top: 0!important;
    }

    .dropdown-toggle, .img-list-chat{
        margin-left: 10px!important;
    }
    .row-text-post {
        padding-left: 10px;
    }

}

@media screen and (max-width: 570px) {
    .col-img-login {
        max-height: 140px !important;
    }

    .col-form-login, .col-form-register{
        justify-content: start!important;
    }

    .account-search .col-1, .row-notification .col-1{
        width: 65px;
    }
    .col-name-user{
        padding-left: 20px!important;
    }
    .col-name-user h2{
        font-size: 28px;
    }
    p.seguidores{
        font-size: 15px!important;
        margin-top: 5px;
    }


    .col-name-user .btn-blue{
        margin-bottom: 10px;
        font-size: 15px;
    }
}

@media screen and (max-width: 440px) {
    .col-post p {
        line-height: 5px;
        font-size: 14px;
    }

    .follow-user, .btn-sm{
        width: 100%!important;
        margin-bottom: 10px;
    }

    .form-login{
        padding: 0 40px;
    }

    img.img-conta{
        width: 120px;
        height: 120px;
    }

    .col-name-user p{
        font-size: 17px;
    }

    .card-post{
        border-top: 0!important;
    }

    .card-post-account{
        min-height: 200px;
    }

    .col-img-post{
        max-height: 400px;
        margin: 5px;
    }

    .name-likes{
        font-size: 15px!important;
    }

    .none-mobile{
        display: none!important;
    }

    .label-img {
        height: 350px;
    }

    .modal.show .modal-dialog, .modal-content{
        width: 100%!important;
        margin: 0!important;
        background: #fff;
        border-radius: 0;
        border: 0!important;
        margin: 0!important;
    }

    .modal-body .row .col-2{
        width: 75px;
    }

    .comment-text h1{
        font-size: 15px!important;
    }

    .account-search .col p, .row-notification .col p{
        font-size: 17px!important;
    }

    .img-edit{
        height: 150px;
    }

    .col-8.col-name-user-edit{
        width: 80%;
    }

    .row-comment{
        margin-top: 20px!important;
    }

    .alert-account{
        top: 100px!important;
        left: 0;
    }

}

@media screen and (max-width: 420px) {
    .col-img-login, .col-img-register{
        /* min-width: 100%!important; */
        display: grid;
        place-items: center;
        max-height: 150px;
    }
    .col-form-login, .col-form-register{
        justify-content: start;
    }

    .container-login{
        background: #fff;
    }

    .col-img-register{
        min-width: 100%!important;
        height: 200px; 
        margin-top: 0px!important;
    }
    .h2.titulo-login{
        margin-top: -100px!important;
        font-size: 30px;
    }
    .col-post p {
        line-height: 5px;
        font-size: 14px;
    }

    .col-post{
        /* margin-left: 35px; */
    }

    .col-form-register{
        order: 2;
    }

    .col-form-login{
        order: 2;
    }

    .titulo-register {
        margin-top: 30px;
    }

    .col-8.col-name-user-edit {
        width: 90%;
    }

    .img-logo-login {
        height: 100px;
    }

    .container-feed{
        padding-left: 10!important;
        padding-right: 10!important;
        margin-top: 0px!important;
    }

    .card-post{
        border-left: 0!important;
        border-right: 0!important;
        /* border-radius: 0!important; */
        margin: 10px 0 0 0!important;
    }
    .col-post h2 a{ 
        font-size: 20px!important;
    }

    .seguidor-post{ 
        margin-top: -10px!important;
    }

    .col-post p{
        margin-top: -5px;
        font-size: 13px;
    }

    .row-info-post .col{
        font-size: 12px;
    }

    .col-img-post{
        margin: 0 0;
    }

    .row-text-post{
        font-size: 17px;
        /* padding: 0; */
        margin-top: -10px!important;
    }

    .icon-menu{
        height: 24px;
        width: 24px;
    }

    .navbar{
        height: 60px;
    }
    .row-info-post{
        padding: 5px 0;
    }

    .icon-reaction-post{
        width: 17px;
        height: 17px;
    }

    .img-account-search {
        width: 60px;
        height: 60px;
        border-radius: 0px;
    }

    .row-notification{
        padding-top: 10px;
        min-height: 80px; 
        margin-top: 2px!important;
    }

    .row-search .col-1{
        width: 100px;
    }

    .img-account-likes {
        height: 43px;
        width: 43px;
    }

    .link-user{
        font-size: 15px;
        color: #000;
    }

    .modal-header{
        height: 45px;
    }

    .modal.show .modal-dialog{
        margin: 0;
    }
    .col-curtidas-seguir{
        justify-content: start!important;
        display: flex;
        padding: 0;
    }

    .col-name-user .btn-gray{
        margin-bottom: 10px;
        font-size: 13px;
    }

    .card-post-text{
        padding: 10px;
    }
    .account-search{
        margin-top: 30px!important;
    }

    .account-search .col h3 a{
        font-size: 15px!important;
    }

    .img-account-search{
        height: 50px;
        width: 50px;
        margin-right: 5px;
    }

    .account-search .col p{
        font-size: 12px;
        margin-top: -8px;
    }
    .container-search h1{
        margin-bottom: -50px;
    }


    .card-post-account{
        height: 100px!important;
        min-height: 170px!important;
    }
}